<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dev_Banner::banner_manager" title="Banner Manager" translate="title" module="Dev_Banner" sortOrder="30" resource="Magento_Backend::schedule"/>
        <add id="Dev_Banner::banner_manager_list" title="Banner Listing" translate="title" module="Dev_Banner" parent="Dev_Banner::banner_manager" sortOrder="10" dependsOnModule="Dev_Banner" action="admindevbanner/banner" resource="Magento_Backend::schedule"/>
    </menu>
</config>
